<ul>
	{% for ent in self.entries()? %}
		<li>
			<a href="{{self.file_name(ent)?}}">{{self.file_name(ent)?}}</a>
			{% if self.is_image(ent)? %}
				<img src="?thumbnail={{self.file_name(ent)?}}" width="50" height="50">
			{% endif %}
			{% if ent.file_type()?.is_dir() %}
				/
				{% for inner in self.children(ent)? %}
					{% if self.is_image(inner)? %}
						<a href="{{self.file_name(ent)?}}/{{self.file_name(inner)?}}"><img src="{{self.file_name(ent)?}}?thumbnail={{self.file_name(inner)?}}" width="50" height="50"></a>
					{% endif %}
				{% endfor %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
